{% extends 'layout.html' %}
{% load static %}

{% block content %}

<div class="py-2 px-3   mx-auto border" style="height: 420px; width: 88%; ">

    {% if habers %} 
    {% for haber in posts %} 
        
        <div class=" h-100 p-3"  style="float: left; width: 45%;">
            <div class="I card bg-dark text-white" style="width: 100%; height: 100%;">
                <img  class="card-img" src="{{ haber.image.url }}" alt="Card image" style="height: 100%; width: 100%; opacity: 0.89;">
                <div class="card-img-overlay"  style="padding-top: 53%;">  
                    
                    <a href="{% url 'detail' haber.pk %}" class="card-link text-white " style="font-weight:bold;"><p>{{ haber.name }}</p></a>
                </div>        
            </div>
        </div>
                      
    {% endfor %}
{% endif %}

{% if habers %} 
    {% for haber in postsiki %} 
        <div class=" h-50 p-3" style="float: left; width: 27.5%;">
            <div class="I card bg-dark text-white" style="width: 100%; height: 100%;">
                
                <img class="card-img" src="{{ haber.image.url }}" alt="Card image" style="height: 100%; width: 100%; opacity: 0.89;">
                <div class="card-img-overlay"  style="padding-top: 27%;">  
                    
                    <a href="{% url 'detail' haber.pk %}" class="card-link text-white" style="font-weight:bold;"><p>{{ haber.name }}</p></a>
                </div>        
            </div>
        </div>
    {% endfor %}
{% endif %}
</div>
        
<div class="container mt-3"> 

    <div class="row">
        <div class="col-md-9">
            {% if habers %} 
                {% for haber in habers %} 

                            <div class="card float-left" style="width: 100%;  height: 160px; border: none; ">
                                <div class="card-body">
                                    <div class="float-left "  style="height: 100%; width: 30%;">
                                        <img src="{{ haber.image.url }}" class="" style="height: 100%; width: 100%; ">
                                    </div>
                                    <div class="float-left pl-3" style="height: 100%; width: 70%;;">
                                        <a href="{% url 'detail' haber.pk %}" class="card-title" style="color: black;"><h4>{{haber.name}}</h4></a>
                                    </div>
                                </div>  
                            </div>    
                {% endfor %}
            {% endif %}
        </div>

        <div class="col-md-3">

            <div class="row border pb-3" style="margin-top: 15px; height: 103px;">
                <div class="mx-auto " style="width: 80%; ">
                    <div class="font-weight-bold text-danger mx-auto w-100 mt-2"><p style="font-size: large;">Sosyal Medya Hesapları</p></div>
                    <div class="mt-2" style="width: 80%; height: 60%; margin-top: -8%;">
                        
                        <div class="float-left mr-1" style="width: 22.5%; height: 95%;"><a href="https://tr-tr.facebook.com/" title="Facebook'ta Takip Edin"> <img  src="{% static 'img/facebook.png' %}" style="width: 100%; height: 90%; border-radius: 10%;"> </a></div>
                        <div class="float-left mr-1" style="width: 22.5%; height: 95%;"><a href="https://www.instagram.com/?hl=tr" title="İnstagram'da Takip Edin"> <img src="{% static 'img/Twitter_Social_Icon_Square_Color.png' %}" style="width: 100%;height: 90%; border-radius: 10%;"> </a></div>
                        <div class="float-left mr-1" style="width: 22.5%; height: 95%;"><a href="https://twitter.com/?lang=tr" title="Twitter'da Takip Edin"> <img src="{% static 'img/linkedin.png' %}" style="width: 100%; height: 90%; border-radius: 10%;"> </a></div>
                        <div class="float-left mr-1" style="width: 22.5%; height: 95%;"><a href="https://www.youtube.com/" title="YouTube'ta Takip Edin"> <img src="{% static 'img/youtube1.png' %}" style="width: 100%; height: 90%; border-radius: 10%;"> </a></div>
                       
                    </div>
                </div>
            </div>
        
            
            <div class="row border " style="margin-top: 70px;">
                <div class="mx-auto " style="width: 80%; ">
                    <div class="font-weight-bold text-danger mx-auto w-100 mt-2"><a href="{% url 'blogpage' %}" class="text text-danger" style="font-size: large;"><p>Son Blog Gönderileri</p></div></a>
                    {% if mbpost %} 
                        {% for haber in mbpost %}  
                            <div class="mt-1 " style="width: 80%; height: auto;">
                                <a href="{% url 'bdetail' haber.pk %}" style="text-decoration: none; font-weight:bold;"><p class="C" style="color:rgba(0, 0, 0, 0.788); ">{{ haber.name }}</p></a>
                                <p style="color: rgba(20, 20, 20, 0.89); margin-top: -8%;">{{ haber.summary }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

            </div>
            
            </div>
               
                
        </div>
    </div>
    
</div> 




    
{% endblock %}





